/* paginabuscador.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .contenedor {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Estilos para ResultadosBusqueda */
  .busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .busqueda input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  /* Estilos para ContenedorAlbums */
  .album {
    width: 200px;
    margin: 20px;
    text-align: center;
  }
  
  .album img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .album h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  /* Estilos para ContenedorCanciones */
  .cancion {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .cancion img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .cancion h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .cancion p {
    margin: 0;
    font-size: 14px;
    color: #888;
  }
  