.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .notFoundImg {
    max-width: 100%;
    height: auto;
  }
  